@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+JP+N&display=swap');

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 5vw;
    background: linear-gradient(#366aca, var(--primary));
    box-sizing: border-box;
}

.logo {
    font-family: "WDXL Lubrifont JP N", sans-serif;
    letter-spacing: 2px;
    font-size: calc(3vw + 20px);
    line-height: calc(3vw + 20px);
    color: white;
    transition: all 0.2s ease-in-out;
}

.logo:hover {
    transform: rotate3d(-1, 1, 0, 30deg);
    font-family:'Times New Roman', Times, serif;
    font-style: bold italic;
    text-shadow: 10px 5px 10px rgb(255, 0, 0), 0px 0px 1px white;
}

.profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    
}

.profile-name {
    font-size: calc(1vw + 10px);
    color: white;
}

.profile-icon {
    height: calc(3vw + 20px);
    cursor: pointer;
    transition: var(--transition);
}

.profile-icon:hover {
    transform: scale(1.05);
    border-radius: 999px;
    box-shadow: 5px 5px 10px var(--shadow);
}