/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #4483f7;
  --primary-trans: #4483f7c9;
  --error-primary: #f74444;
  --green-primary: rgb(37, 136, 37);
  --orange-primary: #f7a144;
  --surface: #e6efff;
  --error-surface: #ffe6e6;
  --green-surface: #e9ffe6;
  --orange-surface: #fff8e6;
  --border-gray: gray;
  --on-surface: rgb(33, 31, 40);
  --bg: #fbfcff;
  --grey-bg: rgba(0, 0, 0, 0.15);
  --essential: rgba(0, 0, 0, 0.5);
  --shadow: rgba(0, 0, 0, 0.15);

  --global-padding: 30px;
  --main-padding: 3vw;

  --big-radius: 25px;
  --small-radius: 4px;

  --transition: all 0.2s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
}

/* TAGS */

body {
  font-family: 'Roboto';
  color: var(--on-surface);
}

a, .a {
  text-decoration: none;
}

a:visited {
  color: unset;
}

.modal-window {
  background: transparent;
  border: none;
}

/* HTML ELEMENTS */

input, .input {
  height: 2.5rem;
  border: 2px solid var(--border-gray);
  border-radius: var(--small-radius);
  padding: 0px 10px;
  font-size: 1rem;
  transition: var(--transition);
}

input:hover, .input:hover {
  border: 2px solid var(--primary);
  /* outline: 2px solid var(--primary); */
}

input:focus, .input:focus {
  /* background-color: var(--surface); */
  border: 2px solid var(--primary);
  outline: 1px solid var(--primary);
  box-shadow: 5px 5px 10px var(--shadow);
}

input.ng-invalid.ng-dirty {
  border: 2px solid red;
  outline: none;
}

button, .button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: fit-content; */
  padding: 10px 15px;
  border: 2px solid var(--primary);
  border-radius: var(--small-radius);
  background-color: var(--surface);
  color: var(--on-surface);
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
}

button:hover, .button:hover {
  outline: 1px solid var(--primary);
  box-shadow: 5px 5px 10px var(--shadow);
}

button:disabled, .button:disabled {
  border-color: var(--border-gray);
  background-color: white;
  color: var(--essential);
  cursor: default;
}

button:disabled:hover {
  outline: none;
  box-shadow: 0px 0px 0px;
}

button.negative {
  background-color: var(--error-surface);
  border-color: var(--error-primary);
  color: var(--error-primary);
}

button.negative:hover {
  outline: 1px solid var(--error-primary);
}

button.positive {
  background-color: var(--green-surface);
  border-color: var(--green-primary);
  color: var(--green-primary);
}

button.positive:hover {
  outline: 1px solid var(--green-primary);
}

select {
  height: 2.5rem;
  padding: 10px 10px;
  font-size: 1rem;
  border: 2px solid var(--primary);
  border-radius: var(--small-radius);
  cursor: pointer;
  transition: var(--transition);
}

select:hover {
  outline: 2px solid var(--primary);
}

select:focus {
  background-color: var(--surface);
  outline: 2px solid var(--primary);
}

input[type="radio"] {
  width: 1.3rem;
}

input[type="radio"]:focus {
  outline: none;
  box-shadow: none;
}

/* MY UI ELEMENTS */

.form-card {
  border: 2px solid var(--primary);
  border-radius: var(--big-radius);
  max-width: 500px;
  width: 50vw;
  min-width: 250px;
  overflow: hidden;
}

.form-card .form-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--primary);
  outline: 1px solid var(--primary);
  border-radius: var(--big-radius) var(--big-radius) 0px 0px;
  color: white;
}

.form-card .content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  background-color: var(--bg);
  
}

.form-card .content .label-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-card .content label, .label {
  font-size: 1.1rem;
}

.form-card .content .value {
  color: var(--essential);
}

.spravka {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 5vh;
  right: 5vw;
  border: 2px solid var(--primary);
  background: linear-gradient(var(--surface), white);
  box-shadow: 5px 5px 10px var(--shadow) !important;
  font-weight: bold;
  border-radius: 999px;
  cursor: pointer;
  transition: var(--transition);
}

.spravka:hover {
  transform: scale(1.1);
}

.spravka-text {
  color: var(--primary);
}

.close-button {
  border-radius: 999px;
  color: var(--primary);
}
.close-button:hover {
  transform: scale(1.05);
}

/* MODIFIERS */

.card {
  box-shadow: 5px 5px 20px var(--shadow);
}

.essential {
  color: var(--essential);
  font-size: 0.8rem;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}